body {
  display: flex;
  background-color: hsl(238, 16%, 15%);
  justify-content: center;
}

.App {
  display: flex;
  margin-top: 2rem;
  height: 600px;
  width: 600px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 1px 1px 2px hsl(229, 62%, 58%);
}

.start-menu{
  display: flex;
  flex-direction: column;
  color: hsl(269, 62%, 27%);
  font-family: 'Inter';
  text-align: center;
  margin: auto;
}

.title{
  margin: 0;
}

.description {
  
}

.start-button {
  align-self: center;
  color: tomato;
  background: whitesmoke;
  font-weight: 600;
  font-size: 17px;
 border-radius: 5px;
 border-color: tomato;
 width: 100px;
 height: 50px;
 transition: all .2s;
}

.start-button:hover{
  color: whitesmoke;
  background-color: tomato;
}

.quiz{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Inter, sans-serif;
  color: hsl(269, 62%, 27%);
  width: 100%;
}

.question-box{
  box-shadow: 0px 23px 4px -25px grey;
  padding-bottom: 1rem;
  justify-content: left;
}

.question {
 display: flex;
 margin: 1rem 1rem 0 1rem;
  text-align: center;
  border-color: rgb(172, 168, 168);
  font-weight: 600;
  font-size: 12px;
}

.answers-box {
  display: flex;
  margin: 0 1rem 0 1rem;
  color: hsl(269, 62%, 27%);
  font-size: 12px;
  
}

.answers {
  background: none;
  color: hsl(269, 62%, 27%);
  border-color: hsl(269, 62%, 27%);
  margin: .5rem 1rem 0 0rem;
  border-style: solid;
  border-radius: 10px;
  padding: 3px;
  transition: all .2s;
}

.answers:hover {
  color: white;
  background-color: hsl(269, 62%, 40%);
}